*{margin: 0;padding: 0}
.header{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4d68a1+0,3b5998+40,3b5998+40,3b5998+42 */
background: rgb(77,104,161); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(77,104,161,1) 0%, rgba(59,89,152,1) 40%, rgba(59,89,152,1) 40%, rgba(59,89,152,1) 42%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(77,104,161,1) 0%,rgba(59,89,152,1) 40%,rgba(59,89,152,1) 40%,rgba(59,89,152,1) 42%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(77,104,161,1) 0%,rgba(59,89,152,1) 40%,rgba(59,89,152,1) 40%,rgba(59,89,152,1) 42%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d68a1', endColorstr='#3b5998',GradientType=0 ); /* IE6-9 */

	padding:10px;
}
.article{padding:10px;
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+47,dee2ee+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 47%, rgba(222,226,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 47%,rgba(222,226,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 47%,rgba(222,226,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dee2ee',GradientType=0 ); /* IE6-9 */


}

.container{width:1000px;
		margin:auto;
		overflow:hidden;}
		
.left{ float:left;
		width:50%;}
.right{ float:left;
		width:50%;}
		
.white {color:white;}
.jar{margin-right:15px;}
.up{position:relative;
	top:-5px;
	left:3px;}
input[type="checkbox"]{width:3px;
					margin-top:5px;}
input[type="submit"]{background:#5972a7;
					position:relative;
					top:-5px;
					padding:2px;
					color:white;
					border:0.5px solid black;
					box-shadow:1px 1px 1pxBAB4 black;}
.header img {padding:10px;}
.article h3 {color:#0e385f
			margin:30px 0;}
.article img {width:400px;}
input[type="textkecil"]{width:180px;
						padding:5px;
						border-radius:3px;
						margin:10px 0;}
input[type="text"]{width:380px;
						padding:5px;
						border-radius:3px;
						margin:5px 0;}
input[type="password"]{width:380px;
						padding:5px;
						border-radius:3px;
						margin:5px 0;}
.down,.regist, .tabup{width:400px;}
.leftd{width:250px;
		float:left;
		margin:10px 0;}
.rightd{width:150px;
		float:right;
		margin:10px 0;}
.foot{margin-top:70px;}
.foot p {margin-top:10px;}
.foot a,.rightd a{color:blue;}
input[type="submitlain"]{margin:10px 0;
						border-radius:5px;
						width:150px;
						border:1px solid green;
						padding:10px;
						text-align:center;
						/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#77bc62+0,8ab66b+44,588b44+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#77bc62+0,578943+100 */
background: rgb(119,188,98); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(119,188,98,1) 0%, rgba(87,137,67,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(119,188,98,1) 0%,rgba(87,137,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(119,188,98,1) 0%,rgba(87,137,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77bc62', endColorstr='#578943',GradientType=0 ); /* IE6-9 */
						color:white;
}